@import url('bootstrap.css');
*{
  margin: 0;
  padding: 0;

}
.hdrI{
  background: url('../images/assets/backgrounds/h_img.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}
.logo{
margin-left: auto;
margin-right: auto;
 margin-top: 10%;
}
h1{
  margin-top: 20px;
  height: auto;
}
.mousec{
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}
#aboutus{
  margin-top: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#aboutus p{
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}
#aboutus h2{
  margin-left: auto;
  margin-right: auto;
}
#service h2{
  margin-top: 8%;
  margin-left: 45%;
  transform: translate(-3%, -45%);

}
#service p{
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7%;

}
#service{
  margin-top: 1%;
  text-align: center;
  background: url('../images/assets/backgrounds/s_image.jpg');
  background-size: cover;
  background-position: center;
  height: auto;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}
#divwwd{
  width: 100%;
  text-align: center;
  margin-bottom: 2%;
}
#wwd{
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  image-orientation: center;
}
.col-md-4 h6{
  margin-top: 3%;
}
#design p{
  display: none;
}
#devt p{
  display: none;
}
#ptm p{
  display: none;
}
div #port{
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}
#port img{
  margin-left: 5px;
}
.col-md-3{
  image-orientation: center
}
